
<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 27.10.2018
-->

<!-- Shows login form -->
{% extends "base.html" %}
{% block content %}

<div class="main">

  <!-- Form container -->
  <div class="form-container">
    <div class="form-wrapper">

      <div class="center">
        <div>
          <a href="{{ url_for('main.login') }}">
            <img src="../static/CalPal_logo_opaque.png" alt="The CalPal logo" width="450">
          </a>
        </div>
      </div>
      
      <!-- Welcome message -->
      <p><strong>Welcome</strong> </p>

    </div>
  </div>

</div>

{% endblock %}
