<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 24.11.2018

The dashboard of CalPal. 
-->

<!-- Shows login form -->
{% extends "base.html" %}
{% block content %}

<div class="main dashboard">

  <!-- Form container -->
  <div class="form-container">
    <div class="form-wrapper">

      <div class="center">
        <a href="{{ url_for('main.login') }}">
          <img src="../static/CalPal_logo_opaque.png" alt="The CalPal logo" width="450">
        </a>
      </div>
      
      <!-- Welcome message -->
      <p><h2>Welcome {{fname}} {{lname}}!</h2></p>
      <h2>{{formatted_date}}</h2>

      {% if total_calories is defined %}
        <h1>Total Calories: {{ total_calories }}</h1>
      {% endif %}

      <!-- Food Searching -->
      <form method="POST" action="{{ url_for('main.dashboard_refresh') }}">

        <div class="dropdown">
          <p>Food Selection</p>
          <input type="text" name="food" placeholder="Search" id="myInput" onkeyup="filterFunction()" required>
          <div id="myDropdown" class="dropdown-content">
            {% for food_name in food_list %}
            <a onclick="f('{{ food_name }}')">{{ food_name }}</a>
            {% endfor %}
          </div>
          <p>How many ounces?</p>
          <input type="number" name="ounce" placeholder="Ounce" id="ounce" required>
        </div>

          <button type="submit" name="action" value="SUBMIT">Submit</button>
      </form>

      {% if calorie_list|length > 0 %}
      <div id="rectangle-box">
        {% for calories in calorie_list %}
          <div id="rectangle">
            <!-- <p><span onclick="fn()">X</span>{{ calories[0] }}</p> -->
            <p>{{ calories[0] }}</p>
            <p>{{ calories[1] }} {{ count }}</p>
          </div>
        {% endfor %}
      </div>
      {% endif %}



    
    <!-- <form method="POST" action="{{ url_for('main.dashboard_buttons') }}"> -->
      
      <!-- Exit and Update info buttons -->
      <!-- <div class="divider"> -->

        <!-- Exit button -->
        <!-- <div class="divider-size"> -->
            <!-- <button type="submit" name="action" value="EXIT">Exit</button> -->
        <!-- </div> -->
      
        <!-- Update info button -->
        <!-- <div class="divider-size"> -->
          <!-- <button type="submit" name="action" value="UPDATE INFO">User info</button> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </form> -->
    
  </div>

  <script src="../static/fitler.js"></script>
  <script>
    function fn() {
      console.log("hi");
    }
  </script>
</div>

{% endblock %}
