<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 30.11.2018

The dashboard of CalPal. 
-->

<!-- Shows login form -->
{% extends "base.html" %}
{% block content %}

<div class="main dashboard">

  <!-- Form container -->
  <div class="form-container-dashboard">
    <div class="form-wrapper">

      <div class="center">
        <a href="{{ url_for('main.login') }}">
          <img src="../static/CalPal_logo_opaque.png" alt="The CalPal logo" width="450">
        </a>
      </div>
      
      <!-- Welcome message -->
      <p><h2>Welcome {{fname}} {{lname}}!</h2></p>
      <h2>{{formatted_date}}</h2>

      {% if total_calories is defined %}
        <h1>Calories gained: {{ total_calories }}</h1>
      {% endif %}

      <!-- Food Searching -->

      <div id="sidebyside">
        <div id="food">
          <form method="POST" action="{{ url_for('main.dashboard_buttons') }}">
          
            <div class="dropdown">
              <p>Food Selection</p>
              <input type="text" name="food" placeholder="Search" id="myFood" onkeyup="filterF()" min="0" required>
              <div id="myDropdownF" class="dropdown-content">
                {% for food_name in food_list %}
                <a onclick="filterFood('{{ food_name }}')">{{ food_name }}</a>
                {% endfor %}
              </div>
              <p>How many ounces?</p>
              <input type="number" name="ounce" placeholder="Ounce" id="ounce" min="0" required>
            </div>
            <button class="dashboard-btn" type="submit" name="action" value="SUBMIT_FOODS">Submit</button>

            {% if calorie_food_list|length > 0 %}
            <div id="rectangle-box">
              {% for food_calories in calorie_food_list %}
              <div id="rectangle">
                <p>{{ food_calories[0] }}</p>
                <p>{{ food_calories[1]|int }} {{ count }}</p>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          </form>
          
          
        </div>
        <div id="exercise">
          <!-- Exercise -->
          <form method="POST" action="{{ url_for('main.dashboard_buttons') }}">
          
            <div class="dropdown">
              <p>Exercise Selection</p>
              <input type="text" name="exercise" placeholder="Search" id="myExercise" onkeyup="filterE()" min="0" required>
              <div id="myDropdown" class="dropdown-content">
                {% for exercise_name in exercise_list %}
                <a onclick="filterExercise('{{ exercise_name }}')">{{ exercise_name }}</a>
                {% endfor %}
              </div>
              <p>How many minutes?</p>
              <input type="number" name="minute" placeholder="Minutes" id="minute" min="0" required>
            </div>
          
            <button class="dashboard-btn" type="submit" name="action" value="SUBMIT_EXERCISE">Submit</button>

          {% if calorie_exercise_list|length > 0 %}
          <div id="rectangle-box">
            {% for exercise_calories in calorie_exercise_list %}
            <div id="rectangle">
              <p>{{ exercise_calories[0] }}</p>
              <p>{{ exercise_calories[1]|int }} {{ count }}</p>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          </form>
        </div>
      </div>

    
    <form method="POST" action="{{ url_for('main.dashboard_buttons') }}">
      
      <!-- Exit and Update info buttons -->
      <div class="divider">

        <!-- Exit button -->
        <div class="divider-size"> 
            <button type="submit" name="action" value="EXIT">Exit</button> 
        </div>
      
        <!-- Update info button -->
        <div class="divider-size"> 
          <button type="submit" name="action" value="UPDATE INFO">User info</button> 
        </div> 
      </div> 
    </form>
    
  </div>

  <script src="../static/fitler.js"></script>
  <script>
    function fn() {
      console.log("hi");
    }
  </script>
</div>

{% endblock %}
