<!-- HTML file -->
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CalPal - Managing Calories for Health Conscious People</title>
    <link rel="stylesheet" href="../static/master.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="icon" href="../static/favicon.png">
    <script src="../static/master.js"></script>
  </head>

  <body>

    <div class="main">
      
      <!-- Form container -->
      <div class="form-container">
        <div class="form-wrapper">

          <div class="center">
            <div>
              <h1><a href="index.html">CalPal</a></h1>
              <h2>Managing Calories for Health Conscious People</h2>
              <p>Log in</p>
            </div>
          </div>
          
          <div class="center">
            <!-- Form method="POST" -->
            <form>
          
              <!-- Email -->
              <div class="center">
                <input type="email" name="email" placeholder="Email" spellcheck="false" autofocus required>
              </div>
          
              <!-- Password -->
              <div class="center">
                <input type="password" name="password" placeholder="Password" spellcheck="false" required>
              </div>
          
              <!-- Submit -->
              <div class="center">
                <button type="submit">Log In</button>
              </div>
          
            </form>
          </div>

        </div>
      </div>
    
    </div>


  </body>

</html>