
<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 08.11.2018
-->

<!-- Shows login form -->
{% extends "base.html" %}
{% block content %}

  <div class="main">
  
    <!-- Form container -->
    <div class="form-container">
      <div class="form-wrapper">
  
        <div class="center">
          <div class="form-header">
            <a href="{{ url_for('main.login') }}">
              <img src="../static/CalPal_logo_opaque.png" alt="The CalPal logo" width="450">
            </a>
            <h2>- Login -</h2>
          </div>
        </div>
        
        <!-- User creation message appears -->
        {% if userCreation is defined %}
        <div class="success">
          <p>Account creation successful!</p>
        </div>
        {% endif %}

        <!-- Error message appears -->
        {% if loginFailure is defined %}
        <div class="failure">
          <p>Incorrect email or password combination.</p>
        </div>
        {% endif %}

        <!-- Form method="POST" -->
        <form method="POST" action="{{ url_for("main.login_redirect") }}">

          <!-- Email -->
          <div class=input-label>
            <label>Email Address</label>
            <span>•</span>
          </div>
          <input type="email" name="email" placeholder="name@company.com" spellcheck="false" autofocus required>

          <!-- Password -->
          <div class=input-label>
            <label>Password</label>
            <span>•</span>
          </div>
          <input type="password" name="password" placeholder="Password" spellcheck="false" required>

          <!-- Submit -->
          <button type="submit">Log In</button>

        </form>

        <p>Don’t have an account? <a href="{{ url_for('main.signup') }}">Sign up</a></p>
  
      </div>
    </div>
  
  </div>

{% endblock %}
