
<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 07.11.2018
-->

<!-- Shows signup form -->
{% extends "base.html" %}
{% block content %}

<div class="main">

  <!-- Form container -->
  <div class="form-container">
    <div class="form-wrapper">

      <div class="center">
        <div class="form-header">
          <a href="{{ url_for('main.login') }}">
            <img src="../static/CalPal_logo_opaque.png" alt="The CalPal logo" height="120">
          </a>
        </div>
      </div>

      <!-- Error message appears -->
      {% if loginFailure is defined %}
      <div class="failure">
        <p>This email is already used!</p>
      </div>
      {% endif %}

      <!-- Form method="POST" -->
      <form method="POST" action="{{ url_for("main.signup_redirect") }}">

        <!-- Name Inputs: First and Last Name -->
        <div class="name">
        <!-- First Name -->
          <div class="name-size">
            <div class="input-label">
              <label>First Name</label>
              <span>•</span>
            </div>
            <input type="text" name="fname" placeholder="First Name" spellcheck="false" autofocus required>
          </div>

        <!-- Last Name -->
          <div class="name-size">
            <div class="input-label">
              <label>Last Name</label>
              <span>•</span>
            </div>
            <input type="text" name="lname" placeholder="Last Name" spellcheck="false" required>
          </div>
        </div>
        
        <!-- Gender -->
        <div class="input-label">
          <label>Gender</label>
          <span>•</span>
        </div>
        <select type="gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        
        <!-- Birthday -->
        <div class="input-label">
          <label>Birthday</label>
        </div>
        
        <div class="name">
          
          <!-- Birth month -->
          <div class="birthday-size">
            <select name="birth-month">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            
          </div>
          
          <!-- Birth day -->
          <div class="birthday-size">
            <input type="number" name="birth-day" placeholder="1" min="1" max="31" autofocus> 
          </div>
          
          <!-- Birth year -->
          <div class="birthday-size">
            <input type="number" name="birth-year" placeholder="2000"  min="1900" max="2050" autofocus> 
          </div>
        </div>
        
        
        <!-- Height -->
        <div class="name">
        
          <!-- Feet -->
          <div class="name-size">
          
            <div class="input-label">
              <label>Height</label>
              <span>•</span>
            </div>
            
            <input type="number" name="height-feet" value="0" min="0" max="99" autofocus> feet
          </div>

        <!-- Inches -->
          <div class="name-size">
          
            <div class="input-label">
              <span>•</span>
            </div>
            
            <input type="number" name="height-inches" value="0" min="0" max="12" autofocus> inches
          
          </div>
        </div>
        
        
        <!-- Email -->
        <div class="input-label">
          <label>Email Address</label>
          <span>•</span>
        </div>
        <input type="email" name="email" placeholder="name@company.com" spellcheck="false" required>


        <!-- Password -->
        <div class="input-label">
          <label>Password</label>
          <span>•</span>
        </div>
        <input type="password" name="password" placeholder="Password" spellcheck="false" required>

        <!-- Submit -->
        <button type="submit">Sign up</button>

      </form>

      <p>Have an account? <a href="{{ url_for("main.login") }}">Sign in</a></p>

    </div>
  </div>

</div>

{% endblock %}
