
<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 15.11.2018
-->

<!-- Shows signup form -->
{% extends "base.html" %}
{% block content %}

<div class="main">

  <!-- Form container -->
  <div class="form-container">
    <div class="form-wrapper">

      <div class="center">
        <div class="form-header">
          <a href="{{ url_for('main.login') }}">
            <img class="CalPal-logo"  src="../static/CalPal_Let's_get_to_know_you!.png" alt="Let's get to know you!" width="450">
          </a>
        </div>
      </div>

      <!-- Form method="POST" -->
      <form method="POST" action="{{ url_for("main.signup_page_2_signup_button") }}">
        
        <!-- Gender -->
        <div class="input-label">
          <label>Gender</label>
          <span>•</span>
        </div>
        <select type="gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        
        <!-- Birthday -->
        <div class="input-label">
          <label>Birthday</label>
        </div>
        
        <div class="divider">
          
          <!-- Birth month -->
          <div class="birthday-size">
            <select name="birth-month" value="January">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            
          </div>
          
          <!-- Birth day -->
          <div class="birthday-size">
            <input type="number" name="birth-day" value="1" min="1" max="31" autofocus> 
          </div>
          
          <!-- Birth year -->
          <div class="birthday-size">
            <input type="number" name="birth-year" value="2000"  min="1900" max="2050" autofocus> 
          </div>
        </div>
        
        <!-- Height -->
        <div class="divider">
        
          <!-- Feet -->
          <div class="divider-size">
          
            <div class="divider-label">
              <label>Height</label>
              <span>•</span>
            </div>
            
            <input type="number" name="height-feet" value="0" min="0" max="99" autofocus> feet
          </div>

        <!-- Inches -->
          <div class="divider-size">
            <div class="input-label">
              <span>•</span>
            </div>
            <input type="number" name="height-inches" value="0" min="0" max="12" autofocus> inches
          </div>
        </div>
        
        
        <!-- Weight -->
        <div class="input-label">
          <label>Weight</label>
          <span>•</span>
        </div>
        
        <div class=shortened-width>
          <input type="number" name="weight" value="0" min="0" max="9999" autofocus> lbs
        </div>
        
        <!-- Calorie Goal -->
        <div class="input-label">
          <label>Calorie Goal</label>
          <span>•</span>
        </div>
        
        <div class=shortened-width>
          <input type="number" name="calorie-goal" value="0"  min="0" max="9999" autofocus> calories per day
        </div>

        <div class="divider">
          <!-- Back button 
          It's supposed to return to signup_page_1 when pressed, but it
          doesn't work yet. I'm so sad about that :(
          -->
          <div class="divider-size">
            <button type="submit" name="back-button" value="back">Back</button>
          </div>
      
          <!-- Submit button -->
          <div class="divider-size">
            <button type="submit" name="sign-up-button" value="sign-up">Sign up</button>
          </div>
        </div>
        
      </form>
      
      <p>Have an account? <a href="{{ url_for('main.login') }}">Sign in</a></p>

    </div>
  </div>

</div>

{% endblock %}
