
<!--
CalPal: A calorie tracking app.
Written by Nhat Nguyen and Albert Ong.
CMPE 131
Revision: 16.11.2018

A page that allows the user to update their personal info. 
-->

<!-- Shows login form -->
{% extends "base.html" %}
{% block content %}

<div class="main">

  <!-- Form container -->
  <div class="form-container">
    <div class="form-wrapper">

      <div class="center">
        <div>
          <a href="{{ url_for('main.dashboard') }}">
            <img src="../static/CalPal_User_info.png" alt="User info" width="350">
          </a>
        </div>
      </div>
      
      <!-- Update successful appears -->
      {% if updateSuccess %}
      <div class="success">
        <p>Your info has been updated!</p>
      </div>
      {% endif %}
      
    </div>
    
    
    
    <form method="POST">
      <div class="divider">
        <!-- Exit button -->
        <div class="divider-size">
          <button type="submit" name="action" value="BACK">Back</button>
        </div>
      
        <!-- Update info button -->
        <div class="divider-size">
          <button type="submit" name="action" value="UPDATE">Update</button>
        </div>

      </div>
    </form>
    
  </div>

</div>

{% endblock %}
