html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main, .form-container .center, .form-container .success, .form-container .failure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html, body, form {
  height: 100%;
  width: 100%;
}

html, body {
  min-height: 100%;
  background-color: #f8f8f8;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  min-height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
}

.form-wrapper {
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

.form-container {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px 0px #e6e6e6;
          box-shadow: 0px 0px 50px 0px #e6e6e6;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 580px;
  text-align: center;
  padding: 4% 0% 4% 0%;
}

.form-container h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.form-container h2 {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 25px;
}

.form-container .form-header p {
  margin-bottom: 15px;
  color: #646f79;
  font-size: 14px;
}

.form-container a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.form-container p a {
  color: #14aaf5;
}

.form-container a:hover {
  color: #098ccd;
}

.form-container b {
  font-weight: bolder;
}

.form-container .success {
  height: 40px;
  margin: 15px 0px 10px 0px;
  border-radius: 2px;
  color: #4bc04e;
  background-color: #ecffec;
}

.form-container .failure {
  height: 40px;
  margin: 15px 0px 10px 0px;
  border-radius: 2px;
  background-color: #ffedef;
}

form input[type="text"], form input[type="email"], form input[type="password"], form button[type="submit"] {
  margin-bottom: 10px;
  padding-left: 4px;
  border: 1px solid #f0f0f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

form input[type="text"]:hover, form input[type="email"]:hover, form input[type="password"]:hover {
  padding-left: 10px;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus {
  border-color: #098ccd;
}

form input::-webkit-input-placeholder {
  color: #d9d9d9;
  padding-left: 2px;
}

form input:-ms-input-placeholder {
  color: #d9d9d9;
  padding-left: 2px;
}

form input::-ms-input-placeholder {
  color: #d9d9d9;
  padding-left: 2px;
}

form input::placeholder {
  color: #d9d9d9;
  padding-left: 2px;
}

form button[type="submit"] {
  margin: 20px 0px 40px 0px;
  background-color: #14aaf5;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #098ccd;
}

form button[type="submit"]:focus {
  background-color: #087bb5;
  padding-top: 5px;
}

form .input-label {
  padding: 10px 0px 25px 0px;
}

form label {
  color: #646f79;
  display: block;
  float: left;
}

form span {
  float: right;
  color: #FF5555;
}

form .name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .name-size {
  width: 46%;
}
/*# sourceMappingURL=master.css.map */